@charset "UTF-8";

/* .archaivesArea */
.archaivesArea {
	width:100%;
	clear:both;
}
.archaivesArea ul {
	width:100%;
	display:table;
	clear:both;
}
.archaivesArea ul li {
	width:100%;
	text-align:center;
	vertical-align:middle;
	padding:38px 0 50px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}

.archaivesArea ul li p{
    margin-top:10px;
	
}