@charset "UTF-8";

/* .worksArea */
.worksArea {
	width:100%;
	clear:both;
}
.worksArea .list {
	width:783px;
	clear:both;
	
}
.worksArea .list li {
	width:760px;
    text-align:center;
	padding:0 0px 28px;
}
.worksArea .list li a {
	color:#000;
	text-decoration:none;
}
.worksArea .list li span {
	display:block;
	padding:6px 0 7px;
}

/* .worksDetailArea */
.worksDetailArea {
	width:100%;
	clear:both;
	padding:9px 0 0;
}


.worksDetailArea .txt {
	line-height:1.6;
	padding:20px 0 50px;
}
.worksDetailArea .img {
	display:table;
	margin-left:-38px;
	clear:both;
    margin-top:30px;
}
.worksDetailArea .img li {
	display:table-cell;
	vertical-align:middle;
	padding-left:38px;
}
.worksDetailArea .img li .thumb_img {
	display:block;
	width:170px;
	height:170px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.re_top {
	text-align:center;
	font-size:13px;
	margin:30px 0;
}
.re_top a {
	color: #000;
	text-decoration:underline;
}
.re_top a:hover { text-decoration:none;}
	