@charset "UTF-8";

/* .mainimg */
.mainimg {
	width:100%;
	min-width:1000px;
	clear:both;
	text-align:center;
	margin-bottom:20px;
}
.mainimg .mimg img {
	width:100%;
}
.mainimg .mttl {
	margin-top:-50%;
	padding-bottom:50%;
	margin-bottom:-71px;
}

/* .aboutArea */
.aboutArea {
	width:100%;
	min-width:1000px;
	clear:both;
	background:#e8e8e8;
	padding:69px 0 72px;
}
.aboutArea .txt {
	width:680px;
	margin:0 auto;
	clear:both;
	padding:48px 0 41px;
	line-height:1.7;
	letter-spacing:-1px;
}
.aboutArea .dropdown {
	position:relative;
	width:836px;
	margin:0 auto;
	clear:both;
	z-index:9999;
}
.aboutArea .dropdown li {
	zoom:1;
}
.aboutArea .dropdown li.hover,
.aboutArea .dropdown li:hover{
	position:relative;
}
.aboutArea .dropdown li a {
	width:324px;
	height:324px;
	display:block;
	position:relative;
}
.aboutArea .dropdown li .names {
	position:absolute;
	color:#00a0e9;
	top:200px;
	left:120px;
	font-size:18px;
	letter-spacing:5px;
}
.aboutArea .dropdown li a.li01 {
	background:url(../images/top/ikeda.png) no-repeat left top;
	float:left;
}
.aboutArea .dropdown li a.li01:hover,
.aboutArea .dropdown li.hover a.li01 {
	background:url(../images/top/ikeda.png) no-repeat left top;
}
.aboutArea .dropdown li a.li02 {
	background:url(../images/top/yamada.png) no-repeat left top;
	float:right;
}
.aboutArea .dropdown li a.li02:hover,
.aboutArea .dropdown li.hover a.li02 {
	background:url(../images/top/yamada.png) no-repeat left top;
}
.aboutArea .dropdown ul {
	display: none;
	width:836px;
	position:absolute;
	top:0;
	left:0;
	height:324px;
	background:url(../images/top/bg.png) no-repeat left top;
	z-index:999;
}
.aboutArea .ikedaArea,
.aboutArea .yamadaArea {
	width:100%;
	overflow:hidden;
	clear:both;
	letter-spacing:-1px;
}
.aboutArea .ikedaArea .img {
	float:left;
	position:relative;
}
.aboutArea .ikedaArea div {
	width:410px;
	float:left;
	margin-left:-14px;
	padding:40px 0 0;
	position:relative;
}
.aboutArea .yamadaArea .img {
	float:right;
	position:relative;
}
.aboutArea .yamadaArea div {
	width:410px;
	float:left;
	padding:40px 0 0 122px;
	margin-right:-20px;
	position:relative;
}
.aboutArea .yamadaArea div p,
.aboutArea .ikedaArea div p {
	text-align:justify;
	text-justify:distribute;
	padding:10px 0;
	line-height:1.7;
}

/* .archivesArea */
.archivesArea {
	width:100%;
	min-width:1000px;
	clear:both;
	padding:134px 0 0;
	margin-bottom:78px;
}
.archivesArea .archives {
	width:444px;
	margin:0 auto;
	clear:both;
	padding:191px 0 314px;
}
.archivesArea .archives dl {
	width:100%;
	overflow:hidden;
	clear:both;
}
.archivesArea .archives dl dt {
	width:345px;
	float:left;
}
.archivesArea .archives dl dt input.text01 {
	width:335px;
	background:#bababa;
	border:none;
	padding:2px 5px;
	line-height:44px;
	height:44px;
	outline:0;
}
.archivesArea .archives dl dd {
	float:right;
}
.archivesArea .archives dl dd input:hover {
	opacity:0.8;
}

/* .informationArea */
.informationArea {
	width:100%;
	min-width:1000px;
	background:url(../images/top/info_img.jpg) no-repeat center top;
	background-size:cover;
	clear:both;
}
.informationArea .cont {
	width:420px;
	float:right;
	padding:104px 0 20px;
}
.informationArea .cont a {
	color:#000;
}
.informationArea .cont .txt {
	line-height:1.8;
	padding:45px 0 12px;
	margin-left:-6px;
}
.informationArea .cont .txt2 {
	width:372px;
	clear:both;
	padding-bottom:42px;
}
.informationArea .cont .txt2 dl {
	width:100%;
	overflow:hidden;
	clear:both;
	line-height:1.7;
}
.informationArea .cont .txt2 dl dt {
	width:100px;
	float:left;
	text-align:right;
	letter-spacing:-1px;
}
.informationArea .cont .txt2 dl dd {
	width:268px;
	float:right;
}
.informationArea .cont .mapBox {
	width:372px;
}
.informationArea .cont .mapBox div {
	width:372px;
	margin-bottom:8px;
}