@charset "UTF-8";

/* .archaivesArea */
.archaivesArea {
	width:100%;
	clear:both;
}
.archaivesArea ul {
	width:100%;
	clear:both;
	text-align:left;
}
.archaivesArea ul li:first-child ,
.archaivesArea ul li:nth-child(5n+1) { margin-left:0;}
.archaivesArea ul li:nth-child(5n) { margin-right:0;}
.archaivesArea ul li {
	text-align:center;
	vertical-align:middle;
	margin:20px;
	padding:38px 0 50px;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
.archaivesArea ul li p{
    margin-top:10px;
	
}


.archaivesArea ul li .thumb_img {
	display:block;
	width:164px;
	height:170px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
