@charset "UTF-8";

/* .worksArea */
.worksArea {
	width:100%;
	clear:both;
}
.worksArea .list {
	width:783px;
	clear:both;
	
}
.worksArea .list li {
	width:760px;
    text-align:center;
	padding:0 0px 28px;
}
.worksArea .list li a {
	color:#000;
	text-decoration:none;
}
.worksArea .list li span {
	display:block;
	padding:6px 0 7px;
}

/* .worksDetailArea */
.worksDetailArea {
	width:100%;
	clear:both;
	padding:9px 0 0;
}

.worksDetailArea #pic li {
  display: none;
}
.worksDetailArea #pic li.first {
  display: block;
}

.worksDetailArea .txt {
	line-height:1.6;
	padding:20px 0 50px;
}
.worksDetailArea .img {
	margin-left: auto;
	margin-right: auto;
	clear:both;
    margin-top:30px;
}
.worksDetailArea .img li:first-child ,
.worksDetailArea .img li:nth-child(5n+1) { margin-left:0;}
.worksDetailArea .img li:nth-child(5n) { margin-right:0;}
.worksDetailArea .img li {
	display:inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align:middle;
	padding-left:10px;
	margin:20px;
	cursor:pointer;
}
.worksDetailArea .img li .thumb_img {
	display:block;
	width:150px;
	height:170px;
	overflow:hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.re_top {
	text-align:center;
	font-size:13px;
	margin:30px 0;
}
.re_top a {
	color: #000;
	text-decoration:underline;
}
.re_top a:hover { text-decoration:none;}
	